@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0a0b10] antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}

textarea::-webkit-scrollbar {
  display: none;
}

section > div {
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}